$primary: #3f51b5;
$secondary: #557522;
$tertiary: #ada8a8e1;

$accent: #e91e63;
$warn: #f44336;

$azul: #2575fc;
$azulVibrante: #4d6bfe;
$roxo: #6a11cb;
$roxoVibrante: #720afa;
$cinzaClaro: #8f8e8e;
$cinzaAmarronzado: #bebaba;
$cinzaEscuro: #303030;
$cinzaGrafite: #444746;
$branco: #fff;
$brancoFumaca: #f5f5f5;
$preto: #000;
$verde: #4caf50;
