@use "@angular/material" as mat;

@include mat.core();

@import "assets/scss/constants";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Estilos globais para o MatSnackBar
.success-snackbar {
  background-color: $verde;
  color: $branco;
}

.error-snackbar {
  background-color: $warn;
  color: $branco;
}

a {
  cursor: pointer;
}

// Definição das paletas de cores
$primary-palette: mat.define-palette(mat.$blue-gray-palette);
$accent-palette: mat.define-palette(mat.$cyan-palette);
$warn-palette: mat.define-palette(mat.$red-palette);

// Tema Claro
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette,
      warn: $warn-palette
    ),
    typography: mat.define-typography-config(),
    density: 0
  )
);

// Tema Escuro
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette,
      warn: $warn-palette
    ),
    typography: mat.define-typography-config(),
    density: 0
  )
);

// Aplicando os temas
.light-theme {
  @include mat.all-component-themes($light-theme);
  background-color: $brancoFumaca;
  color: $preto;
}

.dark-theme {
  @include mat.all-component-themes($dark-theme);
  background-color: $cinzaEscuro;
  color: $branco;
}
